.custom_left_side{
    height: 100%;
    width: 20vw;
    background-color: #313a46;
    border-radius: 0;
}

ul> li >a{
        color: white !important;
        text-decoration: none;
}

.app-dropdown{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    row-gap: 10px;

    p{
        color: rgb(168, 168, 168);
    }
}

.rightbar{
    background-color: rgba(240, 239, 239, 0.336);
}

.stats-cards{
    background-color: white;
}

.second-content-card{
    background-color: white;
    border-radius: 10px;
    height: 400px;
}